<div class="field">
    <label class="label" for="{{label}}">{{label}}</label>
    <div class="control">
        <input class="input" [ngClass]="{'is-danger': showErrors()}" [formControl]="control">
    </div>
    <ng-container *ngIf="control.dirty && control.touched && control.errors">
        <div class="help is-danger" *ngIf="control.errors['required']">
            Value is required
        </div>
        <div class="help is-danger" *ngIf="control.errors['minlength']">
            Value you entered is {{ control.errors['minlength'].actualLength }} characters long, but it must at least 
            {{ control.errors['minlength'].requiredLength }} characters
        </div>
        <div class="help is-danger" *ngIf="control.errors['maxlength']">
            Value you entered is {{ control.errors['maxlength'].actualLength }} characters long, but it should be no longer than
            {{ control.errors['maxlength'].requiredLength }} characters
        </div>
        <div class="help is-danger" *ngIf="control.errors['pattern']">
            Invalid format 
        </div>
    </ng-container>
</div>